PORT=3000
SCRAPER_API_URL=https://kondratmeech.orangepebble-c36ec136.eastus2.azurecontainerapps.io/scrape

GUEST_USER_ID=2c0daac1-5a9f-4888-93f9-1da9ef9e7807
GUEST_USER_EMAIL=guest@your-domain.com

RABBITMQ_HTTP_URL=https://rabbitmq-app.orangepebble-c36ec136.eastus2.azurecontainerapps.io
RABBITMQ_VHOST=hotels
RABBITMQ_AUTH_BASE64=your_base64_encoded_credentials

SUPABASE_URL=https://xxxxxxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
SUPABASE_ANON_KEY=your_anon_key
SUPABASE_JWT_SECRET=your_jwt_secret

AZURE_OPENAI_API_KEY=your_azure_openai_key
AZURE_OPENAI_API_INSTANCE_NAME=your_instance_name
AZURE_OPENAI_DEPLOYMENT_SCRIPT=gpt-5
AZURE_OPENAI_DEPLOYMENT_SQL=o3-mini
AZURE_OPENAI_API_VERSION=2025-03-01-preview

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=your_email@example.com
SMTP_PASS=your_email_password
