PORT=3000
SCRAPER_API_URL=https://kondratmeech.orangepebble-c36ec136.eastus2.azurecontainerapps.io/scrape
RABBITMQ_URL=amqp://localhost
CLICKHOUSE_URL=https://clickhouse-db.orangepebble-c36ec136.eastus2.azurecontainerapps.io:443
CLICKHOUSE_AUTH_BASE64=your_base64_encoded_credentials
AZURE_OPENAI_API_KEY=your_azure_openai_key
AZURE_OPENAI_API_INSTANCE_NAME=your_instance_name
AZURE_OPENAI_API_DEPLOYMENT_NAME=your_deployment_name
AZURE_OPENAI_API_VERSION=2024-02-15-preview
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=anyakrohalevaa@yandex.ru
SMTP_PASS=your_email_password
